<p>authors works!</p>

<header class="header-1">
    <h1 class="title-1">Favourite authors</h1>
    <a class="ref-1" [routerLink]="['/new']">Add an author</a>
    <h2 class="subtitle-1">List of authors</h2>
</header>
<main class="main-container">
  <table class="table-1">
    <tr class="theader-1">
        <th>Author</th>
        <th>Actions Available</th>
    </tr>
    <tr *ngFor="let author of dataAuthors" class="trow">
      <td>{{author.authorName}}</td>
      <td>
        <div class="column-btns">
          <button class="btn1" [routerLink]="['/edit/', author._id]">Edit</button>
          <button class="btn2" (click)="callDeleteAuthor(authorId.id)">Delete</button>
        </div>
      </td>
    </tr>
  </table>
</main>
